<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web that provide list of restaurant and cafe for you">
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="shortcut icon" href="favicon.ico" />

    <title>KamengsFood v2</title>

	<link rel="manifest" href="manifest.json">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		crossorigin="anonymous">
</head>
<body>
	<a href="#mainContent" id="skip-link" class="skip-link">Menuju ke konten</a>
    <app-bar></app-bar>
	<my-header></my-header>
    <main id="mainContent" tabindex="0">

    </main>
    <my-footer></my-footer>

</body>
</html>