<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header class="jumbotron">
        <nav>
            <div class="logoTextMobile">
                KamengsFood
            </div>
            <div class="nav" id="nav">
                <div class="logoText">
                    KamengsFood
                </div>
                <div class="logoTextMobileSidebar">
                    KamengsFood
                </div>
                <ul>
                    <li>
                        <a class="active" href="/">HOME</a>
                    </li>
                    <li>
                        <a href="#">FAVORITE</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/gilangcsy/" rel="noopener" target="_blank">ABOUT</a>
                    </li>
                </ul>
            </div>

            <aside id="sidebar">
                <a href="#" id="navButtonOpen">&#9776;</a>
                <a href="#" id="navButtonClose">&#10005;</a>
            </aside>
        </nav>
    </header>
    <main>
        <section id="hero">
            <div class="hero-content">
                <div class="header-text">
                    KamengsFood
                </div>
                <p>
                    The Best Indonesian Food Restaurant You've Ever Meet.
                </p>

                <div class="button">
                    <button type="button">GET STARTED</button>
                </div>
            </div>
        </section>
        <article id="catalog">
            <div class="row" id="main-content">
                <div class="column">
                    <div class="header-text">
                        EXPLORE RESTAURANT
                    </div>
                </div>
            </div>
            <div class="row" id="restaurants">
            </div>
        </article>
    </main>
    <footer id="footer">
        <div class="row">
            © 2021 KamengsFood. All Rights Reserved.
        </div>
    </footer>

</body>
</html>